@import 'root.css';
body{
    background-color: var(--white);    
}
nav.flex-row{
    width: 100%;
    top:0;
    position: absolute;
    z-index: 3;
    color: var(--white);
}
nav.flex-row ul{
    width: 100%;
    justify-content: flex-end;
    margin: 0.5rem 1.5rem;
    flex-wrap: wrap;
}
nav ul a{
    padding: 0.5rem;
    margin: 0.5rem 0.5rem;
    font-size: 1.75rem;
    text-decoration: none;
    font-weight: 300;
    cursor: pointer;
}
nav ul a:hover{
    text-shadow: 0 0 2px var(--white);
}
main{
    width: 100%;
}
section{
    width: 100%;
}
.section-title{
    font-size: 3rem;
    color: var(--black);
    text-align: center;
}

#about{
    justify-content: flex-start;
}
#about .top{
    color: var(--white);
    width: 100%;
    background-color: var(--blue);
    padding-top: 4rem;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}
#about .picture{
    left: max(80%,40rem);
    width: max(15%);
    position: absolute;
    z-index: 1;
    bottom: 0;
}
#about .title{
    z-index: 2;
    margin: 6rem 0;
}
#about .title h1{
    font-size: 5rem;
    text-align: center;
}
#about .title h2{
    font-size: 1.5rem;
    font-weight: 400;
}
#about div.w100{
    justify-content: flex-start;
}
#about .desc{
    width: min(30rem,100%);
    align-items: flex-start;
    margin-left: 5%;
    z-index: 2;
}
#about .desc h1{
    margin-bottom: 0.5rem;
    font-size: 2.25rem;
    font-weight: 400;
}
#about .desc p{
    font-size: 1.5rem;
    font-weight: 300;
}
#about svg{
    width: 100%;
    z-index: 2;
}

#about .content{
    padding: 0 min(10%,10rem);
}
#about .row .image{
    flex-grow: 1;
    flex-basis: 0;
    justify-content: center;
    margin: 4rem 2rem;
}
#about .row .image img{
    height: 10rem;
    width: 10rem;
}
#about .row .text{
    color: var(--gray);
    flex-grow: 2;
    flex-basis: 0;
    min-width: 20rem;
}
#about .row .text p{
    font-size: 1.75rem;
    margin: 1rem 0;
}

#skills{
    background-color: var(--blue);
}
#skills .section-title{
    color: var(--white);
}
#skills .body{
    padding: 3rem min(1rem,3%);
}
#skills .box{
    padding: 2rem 1rem;
    background-color: var(--white);
    width: min(100%, 50rem);
    margin: 2rem 0;
    border-radius: 10px;
    align-items: flex-start;
    flex-wrap: wrap;
    box-shadow: 0 0 1rem -5px var(--black);
    transition: box-shadow 0.3s ease;
}
#skills .box:hover{
    box-shadow: 0 0 1rem -1px var(--black);
}
#skills .box .title{
    display: inline;
    font-size: 1.75rem;
    width: 100%;
    margin-bottom: 1rem;
}
#skills .box > .flex-row{
    padding: 1rem 0;
    width: 100%;
}
#skills .box .image{
    width: 20%;
    display: flex;
    align-items: center;
}
#skills .box .image img{
    width: 100%;
}
#skills .box .div10{
    width: 10%;
}
#skills .box .skills{
    width: 70%;
    font-size: 1.5rem;
}
#skills .box .skills .skill{
    text-align: right;
    width: 100%;
}

#work{
    background-color: var(--white);
    justify-content: flex-start;
}
#work .section-title{
    color: var(--black);
    padding: 2rem 0;
    margin-bottom: 3rem;
}
#work .body{
    padding: 2rem min(3%,2rem);
    overflow: hidden;
}
#work .linebreaker{
    width: 120%;
    background-color: var(--blue);
    margin: 4rem -3rem;
}
#work .row{
    color: var(--white);
}
#work  .work-title{
    align-self: flex-start;
    color: var(--black);
    padding-left: 2rem;
}
#work .work-title h1{
    font-size: 2.5rem;
    font-weight: 300;
    font-weight: 600;
}
#work .both{
    padding: 1rem 0;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 1rem;
    box-shadow: 0 0 1rem -5px var(--black);
    margin: 2rem 0;
    background-color: var(--blue);
    transition: box-shadow 0.2s ease;
}
#work .both:hover, #work .both:focus-within{
    box-shadow: 0 0 1rem -2px var(--black);
}
#work .both .work-desc{
    flex-grow: 5;
    flex-basis: 0;
    padding-top: 2rem;
    padding-left: 2rem;
}
#work .both .work-desc P{
    font-size: 1.75rem;
    margin-bottom: 2rem;
}
#work .row .image{
    flex-grow: 7;
    flex-basis: 0;
    padding: 2rem;
}
#work .slideshow{
    width: min(100%,35rem);
    position: relative;
    justify-content: flex-start;
    overflow-x: hidden;
    border-radius: 0.25rem;
}
#work .boxshadow{
    width: 75%;
    height: 75%;
}
#work .slides{
    justify-content: flex-start;
    position: relative;
    left:0;
    top:0;
    transition: left 0.3s ease;
}
#work .slide{
    display: flex;
    align-items: center;
    width: 25%;
    overflow: hidden;
}
#work .slide img{
    width: 100%;
}
#work .slide-controls{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}
#work .slide-controls a img{
    height: 3rem;
    cursor: pointer;
}
#work .both .link{
    padding: 1rem;
    margin-top: 4rem;
}
#work .both .link a{
    background-color: white;
    padding: 1rem 3rem;
    border-radius: 1rem;
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--black);
    font-size: 1.5rem;
    font-weight: 700;
    box-shadow: 0 0 1rem -10px var(--black);
    transition: all 0.2s ease;
}
#work .both .link a:hover{
    box-shadow: 0 0 1rem -5px var(--white);
}


#contact{
    justify-content: flex-start;
    background-color: var(--blue);
}
#contact .body{
    justify-content: flex-start;
    padding-bottom:4rem;
}
#contact .section-title{
    margin-bottom: 6rem;
    color: var(--white);
}
#contact .contacts{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}
#contact .row{
    justify-content: space-evenly;
    padding: 1rem 2rem;
    margin: 1rem 0.5rem;
    text-decoration: none;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 0 0 1rem -5px var(--black);
    transition: all 0.2s ease;
}
#contact .row:hover{
    box-shadow: 0 0 1rem 0px var(--white);
}
#contact .row img{
    height: 4rem;
    margin-right: min(2rem,10%);
}
#contact .row p{
    text-decoration: none;
    color: var(--black);
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 600;
}


#footer{
    justify-content: flex-start;
    color: var(--white);
    background-color: var(--black);
}
#footer .flex-row{
    padding:3rem 0;
}
#footer h1{
    margin-bottom: 1rem;
}
#footer .flex-column{
    align-items: flex-start;
    align-self: flex-start;
}
#footer a{
    cursor: pointer;
    padding:0.5rem;
    text-decoration: none;
    font-size: 1.35rem;
}
@media (orientation: portrait){
    html{
        font-size: 0.6rem;
    }
    #about .row{
        flex-direction: column;
    }
    #about .reverse-wrap .text{
        order: 2;
    }
    #about .reverse-wrap .image{
        order: 1;
    }
    #work .both{
        flex-direction: column;
    }
    #work .slideshow{
        width: 100%;
    }

}